.mobile-only
  display: none
  @media screen and (max-width: $device-mobile-max)
    display: block !important

.mobile-hidden
  @media screen and (max-width: $device-mobile-max)
    display: none !important

.float-panel
  position: sticky
  right: 0
  bottom: 2rem
  float: right
  z-index: 10
  display: flex
  border-radius: 2rem
  margin-right: 1rem
  overflow: hidden
  --blur-px: 16px
  --blur-bg: alpha(#fff, .4)
  trans1: all
  if hexo-config('style.darkmode') == 'auto'
    @media (prefers-color-scheme: dark)
      --blur-bg: alpha(#000, .4)
  if hexo-config('style.darkmode') == 'always'
    --blur-bg: alpha(#000, .4)

.sidebar-toggle.mobile
  cursor: pointer
  color: var(--text-p0)
  background: none
  padding: 0.5rem
  line-height: 0
  font-size: 20px
  margin: 0


.l_body.mobile.sidebar
  .float-panel
    box-shadow: $boxshadow-float
    transform: translateY(-2px)
  .sidebar-toggle.mobile
    background: var(--card)
    color: $color-hover
    border-color: var(--block-border)


/*Firefox*/
@-moz-document url-prefix()
	.md-text .highlight
    margin: var(--gap-p) 0
    border-radius: $border-block
    overflow: hidden
    background: var(--block)
    line-height: 1.5
    font-family: $ff-codeblock
    box-sizing: border-box
    @media screen and (min-width: $device-mobile)
      min-width: 180px
  

  pre
    overflow: auto


/*IE9+*/
@media all and (min-width:0) 
	.md-text .highlight
    margin: var(--gap-p) 0
    border-radius: $border-block
    overflow: hidden
    background: var(--block)
    line-height: 1.5
    font-family: $ff-codeblock
    box-sizing: border-box
    @media screen and (min-width: $device-mobile)
      min-width: 180px


  pre
    overflow: auto


/*IE10+*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.md-text .highlight
    margin: var(--gap-p) 0
    border-radius: $border-block
    overflow: hidden
    background: var(--block)
    line-height: 1.5
    font-family: $ff-codeblock
    box-sizing: border-box
    @media screen and (min-width: $device-mobile)
      min-width: 180px


  pre
    overflow: auto
