<%
// var proj;
// if (page.layout === 'wiki' && page.wiki) {
//   proj = theme.wiki.projects[page.wiki];
// }
// 默认组件
if (page.sidebar == undefined) {
  if (page.layout == 'post' && page.content) {
    page.sidebar = theme.sidebar.widgets.post;
  } else if (page.layout == 'wiki' && page.content && page.wiki) {
    let proj = theme.wiki.projects[page.wiki];
    if (proj.sidebar) {
      page.sidebar = proj.sidebar;
    } else {
      page.sidebar = theme.sidebar.widgets.wiki;
    }
  } else if (is_home()) {
    page.sidebar = theme.sidebar.widgets.home;
  } else if (is_category() || is_tag() || is_archive() || ['categories', 'tags', 'archives'].includes(page.layout)) {
    page.sidebar = theme.sidebar.widgets.blog_index;
  } else if (['wiki_index'].includes(page.layout)) {
    page.sidebar = theme.sidebar.widgets.wiki_index;
  } else if (['404', undefined].includes(page.layout)) {
    page.sidebar = theme.sidebar.widgets.others;
  } else if (page.layout == 'page') {
    page.sidebar = theme.sidebar.widgets.page;
  } else {
    page.sidebar = [];
  }
}

// parse array string
if (typeof page.sidebar == 'string') {
  page.sidebar = page.sidebar.replace(/ /g, '').split(',');
}

%>

<div class="widgets">
<% if (page.sidebar) { %>
    <% if (!isMobile) { var widget_sticky_list = []; } %>
    <% page.sidebar.forEach((w, i) => { %>
        <% let name = ''; %>
        <% let widget = {}; %>
        <% if (typeof w == 'string') { %>
            <% name = w; %>
        <% } else if (typeof w == 'object' && w.override) { %>
            <% name = w.override; %>
        <% } %>
        <% if (name in theme.data.widgets) { %>
            <% Object.assign(widget, theme.data.widgets[name]); %>
        <% } %>
        <% if (typeof w == 'object' && (w.override || w.layout)) { %>
            <% Object.assign(widget, w); %>
        <% } %>
        <% if (widget && widget.layout) { %>
          <% if (widget.layout !== 'search' || theme.style.layout !== 'volantis' || theme.search.service === 'local_search') { %>
            <% if (!isMobile && (widget.display === undefined || widget.display.includes('desktop'))) { %>
              <% if (widget.sticky) { %>
                <% widget_sticky_list.push(widget); %>
              <% } else { %>
                  <%- partial('../widgets/' + widget.layout, {item: widget, isMobile: isMobile}) %>
              <% } %>
            <% } else if (isMobile && (widget.display === undefined || widget.display.includes('mobile'))) { %>
              <% if (!['blogger', 'wiki_logo', 'toc'].includes(widget.layout)) { %>
                <%- partial('../widgets/' + widget.layout, {item: widget, isMobile: isMobile}) %>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
    <% }); %>
    <% if (widget_sticky_list && widget_sticky_list.length > 0) { %>
      <div class="widget-sticky">
        <% if(widget_sticky_list.length !== 0) {  %>
          <% widget_sticky_list.forEach( w => {  %>
            <%- partial('../widgets/' + w.layout, {item: w, isMobile: isMobile}) %>
          <% }); %>
        <% } %>
      </div>
    <% } %>
<% } %>
</div>